<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>微信配置平台_{{.CC.Title}}</title>
		{{template "temp.header.html" .}}
		
		<script type="text/javascript" src="/static/js/pubnum/pubnum.js"></script>
	</head>
	<body>
		<div class="container">
			{{template "temp.top.html" .}}
			<div class="row clearfix">
			{{template "temp.left.menu.html" .}}
				<div class="col-md-9 column">
					<table class="table table-condensed">
						<thead>
							<tr>
								<th>名称</th>
								<th>appid</th>
								<th>appsecret</th>
								<th>token</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
						{{range $k,$v:=.Datas}}
							<tr>
								<td>{{$v.name}}</td>
								<td>{{$v.appid}}</td>
								<td>{{$v.appsecret}}</td>
								<td>{{$v.token}}</td>
								<td>
									{{if checkPumNumEnable $v.userid $v.id}}已启用{{else}}<a href="#" onclick="enable('{{$v.id}}')">启用</a>{{end}}
								</td>
								
							</tr>
						{{end}}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>
