<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>微信测试学习</title>
		{{template "temp.top.html" .}}
	</head>
	<body>
		<div class="container">
			{{template "temp.header.html" .}}
			<div class="row clearfix">
			{{template "temp.left.menu.html" .}}
				<div class="col-md-9 column">
					<form action="/pubnum/save" method="post" class="form-horizontal" role="form">
						<div class="form-group">
					    	<label class="col-sm-4 control-label"><h4>公众微信号添加</h4></label>
					   	</div>
						<div class="form-group">
					     	<label for="name" class="col-sm-2 control-label">订阅/公众号名称</label>
					      	<div class="col-sm-3">
					         	<input type="text" class="form-control" id="name" name="name" placeholder="订阅/公众号名称">
					      	</div>
					   	</div>
						<div class="form-group">
					     	<label for="name" class="col-sm-2 control-label">appid</label>
					      	<div class="col-sm-3">
					         	<input type="text" class="form-control" id="appid" name="appid" placeholder="appid">
					      	</div>
					   	</div>
						<div class="form-group">
					     	<label for="name" class="col-sm-2 control-label">appsecret</label>
					      	<div class="col-sm-3">
					         	<input type="text" class="form-control" id="appsecret" name="appsecret" placeholder="appsecret">
					      	</div>
					   	</div>
						<div class="form-group">
					     	<label for="name" class="col-sm-2 control-label">token</label>
					      	<div class="col-sm-3">
					         	<input type="text" class="form-control" id="token" name="token" placeholder="token">
					      	</div>
					   	</div>
						<div class="form-group">
				      		<div class="col-sm-offset-2 col-sm-10">
				         		<button type="submit" class="btn btn-default">保存</button>
				      		</div>
				   		</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
