				<div class="col-md-3 column">
					<div class="panel-group" id="panel-625924">
						<div class="panel panel-default">
							<div class="panel-heading">
								 <a class="panel-title" data-toggle="collapse" data-parent="#panel-625924" href="#panel-element-335632">公众号管理</a>
							</div>
							<div id="panel-element-335632" class="panel-collapse collapse in">
								<div class="panel-body">
									<a href="/weixin/add">公众号添加</a>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								 <a class="panel-title" data-toggle="collapse" data-parent="#panel-625924" href="#panel-element-347900">token管理</a>
							</div>
							<div id="panel-element-347900" class="panel-collapse collapse">
								<div class="panel-body">
									获取access token
								</div>
							</div>
						</div>
					</div>
				</div>