				<script type="text/javascript">
					$(function(){
						var module="{{.CC.Module}}";
						$("#panel-element-"+module).addClass("in");
					});
				</script>			
				<div class="col-md-3 column">
					<div class="panel-group">
					
						<!-- 公众号管理 -->
						<div class="panel panel-default">
							<div class="panel-heading">
								 <a class="panel-title" data-toggle="collapse" data-parent="#panel-pubnum" href="#panel-element-pubnum">公众号管理</a>
							</div>
							<div id="panel-element-pubnum" class="panel-collapse collapse">
								<div class="panel-body">
									<a href="/pubnum/list">公众号列表</a>
								</div>
								<div class="panel-body">
									<a href="/pubnum/add">公众号添加</a>
								</div>
							</div>
						</div>
						<!-- token管理 -->
						<div class="panel panel-default">
							<div class="panel-heading">
								 <a class="panel-title" data-toggle="collapse" data-parent="#panel-token" href="#panel-element-token">Token管理</a>
							</div>
							<div id="panel-element-token" class="panel-collapse collapse">
								<div class="panel-body">
									<a href="/token/index">获取access_token</a>
								</div>
								<div class="panel-body">
									<a href="/token/api/get/wxip">获取微信服务器IP地址</a>
								</div>
							</div>
						</div>
						<!-- 自定义菜单管理 -->
						<div class="panel panel-default">
							<div class="panel-heading">
								 <a class="panel-title" data-toggle="collapse" data-parent="#panel-menu" href="#panel-element-menu">自定义菜单管理</a>
							</div>
							<div id="panel-element-menu" class="panel-collapse collapse">
								<div class="panel-body">
									<a href="/menu/type/list">类型</a>
								</div>
								<div class="panel-body">
									<a href="/menu/create">创建</a>
								</div>
							</div>
						</div>
						<!-- websocket 测试 -->
						<div class="panel panel-default">
							<div class="panel-heading">
								 <a class="panel-title" data-toggle="collapse" data-parent="#panel-websocket" href="#panel-element-websocket">Web Socket</a>
							</div>
							<div id="panel-element-websocket" class="panel-collapse collapse">
								<div class="panel-body">
									<a href="/websocket/to">测试</a>
								</div>
							</div>
						</div>
						<!-- 素材管理 -->
						<div class="panel panel-default">
							<div class="panel-heading">
								 <a class="panel-title" data-toggle="collapse" data-parent="#panel-media" href="#panel-element-media">素材管理</a>
							</div>
							<div id="panel-element-media" class="panel-collapse collapse">
								<div class="panel-body">
									<a href="/media/temp/toupload">临时素材上传</a>
								</div>
								<div class="panel-body">
									<a href="/media/temp/list">素材列表</a>
								</div>
							</div>
						</div>
						
					</div>
				</div>