				<script type="text/javascript" src="/static/js/comm/comm.js"></script>
				<script type="text/javascript">
					$(function(){
						var module="{{.CC.Module}}";
						$("#panel-element-"+module).addClass("in");
					});
				</script>
				<style>
					#leftmenu a{
						font-size:12px;
					}
				</style>
				<div id="leftmenu" class="col-md-2 column">
					<ul class="breadcrumb">
						<li><a href="/">首页</a></li>
						<li class="active">{{.CC.Comment}}</li>
						
					</ul>
					<div class="panel-group">
					
						<!-- 公众号管理 -->
						<div class="panel panel-default">
							<div class="panel-heading">
								 <a class="panel-title" data-toggle="collapse" data-parent="#panel-pubnum" href="#panel-element-pubnum">公众号管理</a>
							</div>
							<div id="panel-element-pubnum" class="panel-collapse collapse">
								<div class="panel-body">
									<a href="/pubnum/list" title="公众号列表" name="menu-link">公众号列表</a>
								</div>
								<div class="panel-body">
									<a href="/pubnum/add" title="公众号添加" name="menu-link">公众号添加</a>
								</div>
							</div>
						</div>
						<!-- token管理 -->
						<div class="panel panel-default">
							<div class="panel-heading">
								 <a class="panel-title" data-toggle="collapse" data-parent="#panel-token" href="#panel-element-token">Token管理</a>
							</div>
							<div id="panel-element-token" class="panel-collapse collapse">
								<div class="panel-body">
									<a href="/token/index" title="access_token" name="menu-link">获取access_token</a>
								</div>
								<div class="panel-body">
									<a href="/token/api/get/wxip" title="微信服务器IP地址" name="menu-link">获取微信服务器IP地址</a>
								</div>
							</div>
						</div>
						<!-- 自定义菜单管理 -->
						<div class="panel panel-default">
							<div class="panel-heading">
								 <a class="panel-title" data-toggle="collapse" data-parent="#panel-menu" href="#panel-element-menu">自定义菜单管理</a>
							</div>
							<div id="panel-element-menu" class="panel-collapse collapse">
								<div class="panel-body">
									<a href="/menu/type/list" title="菜单类型" name="menu-link">类型</a>
								</div>
								<div class="panel-body">
									<a href="/menu/create" title="菜单创建" name="menu-link">创建</a>
								</div>
							</div>
						</div>
						<!-- websocket 测试 -->
						<div class="panel panel-default">
							<div class="panel-heading">
								 <a class="panel-title" data-toggle="collapse" data-parent="#panel-websocket" href="#panel-element-websocket">Web Socket</a>
							</div>
							<div id="panel-element-websocket" class="panel-collapse collapse">
								<div class="panel-body">
									<a href="/websocket/to" title="WebSocket测试" name="menu-link">测试消息</a>
								</div>
							</div>
						</div>
						<!-- 素材管理 -->
						<div class="panel panel-default">
							<div class="panel-heading">
								 <a class="panel-title" data-toggle="collapse" data-parent="#panel-media" href="#panel-element-media">素材管理</a>
							</div>
							<div id="panel-element-media" class="panel-collapse collapse">
								<div class="panel-body">
									<a href="/media/temp/toupload" title="临时素材上传" name="menu-link">临时素材上传</a>
								</div>
								<div class="panel-body">
									<a href="/media/toupload" title="永久素材上传" name="menu-link">永久素材上传</a>
								</div>
								<div class="panel-body">
									<a href="/media/list" title="素材列表" name="menu-link">素材列表</a>
								</div>
							</div>
						</div>
						
						<!-- 用户管理 -->
						<div class="panel panel-default">
							<div class="panel-heading">
								 <a class="panel-title" data-toggle="collapse" data-parent="#panel-user" href="#panel-element-user">用户管理</a>
							</div>
							<div id="panel-element-user" class="panel-collapse collapse">
								<div class="panel-body">
									<div class="panel-heading">
										 <a class="panel-title" data-toggle="collapse" data-parent="#panel-user" href="#panel-element-user-group">分组管理</a>
									</div>
									<div id="panel-element-user-group" class="panel-collapse collapse">
										<div class="panel-body">
											<a href="" title="创建分组" name="menu-link">创建分组</a>
										</div>
										<div class="panel-body">
											<a href="" title="查询用户所在分组" name="menu-link">查询用户所在分组</a>
										</div>
									</div>
								</div>
								<div class="panel-body">
									<div class="panel-heading">
										 <a class="panel-title" data-toggle="collapse" data-parent="#panel-user" href="#panel-element-user-list">用户列表</a>
									</div>
									<div id="panel-element-user-list" class="panel-collapse collapse">
										<div class="panel-body">
											<a href="" title="获取用户列表" name="menu-link">获取用户列表</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				
				<div class="col-md-10 column">
					<div id="tipsMsg"></div>
					<ul id="tabTitle" class="nav nav-tabs" style="font-size:12px;">
					</ul>
					<div id="tabContent" class="tab-content">
					</div>
				</div>