<link rel="shortcut icon" type="image/ico" href="/static/favicon.ico">
		<link href="/static/css/comm/bootstrap/bootstrap.min.css" rel="stylesheet">
		<link href="/static/css/comm/bootstrap/bootstrap-theme.min.css" rel="stylesheet">
		<link href="/static/css/comm/bootstrap/fileinput.min.css" rel="stylesheet">
		<link href="/static/css/comm/bootstrap/font-awesome.min.css" rel="stylesheet">
		<link href="/static/css/comm/bootstrap/animate.min.css" rel="stylesheet">
		<link href="/static/css/comm/msgbox/msgbox.css" rel="stylesheet">
		<link href="/static/css/comm/jquery.confirm/jquery-confirm.min.css" rel="stylesheet">
		
		<script type="text/javascript" src="/static/js/comm/jquery/jquery-2.2.3.min.js"></script>
		<script type="text/javascript" src="/static/js/comm/jquery.confirm/jquery-confirm.min.js"></script>
		<script type="text/javascript" src="/static/js/comm/jquery.validate/jquery.validate.min.js"></script>
		<script type="text/javascript" src="/static/js/comm/jquery.date.format/jquery.date.format.min.js"></script>
		<script type="text/javascript" src="/static/js/comm/jquery.form/jquery.form.min.js"></script>
		<script type="text/javascript" src="/static/js/comm/bootstrap/bootstrap.min.js"></script>
		<script type="text/javascript" src="/static/js/comm/jquery.bootstrap.growl/jquery.bootstrap-growl.js"></script>
		<script type="text/javascript" src="/static/js/comm/jquery/jquery.method.js"></script>
		<script type="text/javascript" src="/static/js/comm/bootstrap/bootstrap-checkbox.js"></script>
		<script type="text/javascript" src="/static/js/comm/bootstrap/fileinput.min.js"></script>
		<script type="text/javascript" src="/static/js/comm/bootstrap/fileinput_locale_zh.js"></script>
		<script type="text/javascript" src="/static/js/comm/handlebars/handlebars.min.js"></script>
		<script type="text/javascript" src="/static/js/comm/handlebars/handlebars.helpers.js"></script>
		<script type="text/javascript" src="/static/js/comm/msgbox/msgbox.js"></script>
		<script type="text/javascript">
			window.onload = function() {
				if (!window.applicationCache) {
					window.location.href="/browserHtml5.html";
				}
			}
		</script>