<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>微信配置平台_{{.CC.Title}}</title>
		{{template "temp.header.html" .}}
		<script type="text/javascript" src="/static/js/token/token.js"></script>
	</head>
	<body>
			{{template "temp.top.html" .}}
			<div class="row clearfix">
			{{template "temp.left.menu.html" .}}
				<div id="content" class="col-md-9 column">
					<form action="" method="" class="form-horizontal" role="form">
						如果页面为空请先启用一个公众号和获取Token:<br/>
						{{range $k,$v:=.Data.ip_list}}
							{{$v}},&nbsp
						{{end}}
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
