<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>微信测试学习</title>
		<link rel="shortcut icon" type="image/ico" href="/static/favicon.ico">
		<link href="/static/css/comm/bootstrap/bootstrap.min.css" rel="stylesheet">
		<link href="/static/css/comm/bootstrap/font-awesome.min.css" rel="stylesheet">
		<link href="/static/css/comm/bootstrap/animate.min.css" rel="stylesheet">
		
		<script type="text/javascript" src="/static/js/comm/jquery/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="/static/js/comm/bootstrap/bootstrap.min.js"></script>
		<script type="text/javascript" src="/static/js/comm/handlebars/handlebars.min.js"></script>
		<script type="text/javascript" src="/static/js/menu/menu.js"></script>
	</head>
	<body>
		<div class="container">
			{{template "header.html" .}}
			<div class="row clearfix">
			{{template "left.menu.html" .}}
				<div class="col-md-9 column">
					<form action="/pubnum/save" method="post" class="form-horizontal" role="form">
						<div class="form-group">
					    	<label class="col-sm-4 control-label"><h4>自定义菜单创建</h4></label>
					   	</div>
						<div>
							qwer
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
