<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>微信配置平台_{{.CC.Title}}</title>
		{{template "temp.header.html" .}}
	</head>
	<body>
			{{template "temp.top.html" .}}
			<div class="row clearfix">
			{{template "temp.left.menu.html" .}}
				<div class="col-md-9 column">
					<form action="" method="post" class="form-horizontal" role="form">
						{{.}}
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
