<script type="text/javascript">
	{{$data:=.Data.Data}}
	var newsAction="{{$data.action}}";
	var newsSaveType="{{$data.saveType}}";
	
</script>
		
<script type="text/javascript" charset="utf-8" src="/static/js/comm/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/comm/ueditor/ueditor.all.min.js"> </script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" charset="utf-8" src="/static/js/comm/ueditor/lang/zh-cn/zh-cn.js"></script>

<script type="text/javascript" src="/static/js/media/media.news.add.other.js"></script>
<script type="text/javascript" src="/static/js/media/media.news.add.js"></script>
<!--图文-->
<div class="col-md-10 column">
	<input id="activityForm" type="hidden" value=""/><!--存放当前活动的表单id-->
	<form id="newsMediaForm" action="{{$data.action}}" method="post" role="form">
		<div class="form-group">
      		<div id="_newsForms" class="col-sm-12">
				
      		</div>
   		</div>
		
		<div class="form-group">
      		<div class="col-sm-12">
         		<button id="newsReleaseBtn" type="submit" class="btn btn-default">保存</button>
      		</div>
   		</div>
	</form>
	
</div>
<div class="col-md-2 column">
	
	<!--右侧拦 点后按钮后弹出层-->
	<div class="modal fade" id="modal-container-mediaselect" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content" style="min-width: 700px">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title" id="mediaSelectTitle">线上永久素材选择</h4>
				</div>
				<div id="mediaSelect" class="modal-footer">
					
				</div>
			</div>
		</div>
	</div>
	
	<!--右侧拦 图片缩略-->
	<div id="rightBar" class="btn-group btn-group-vertical">
		<div id="leftBar_video" class="file-preview-frame" ctype="video" style="width:100px;height:30px;cursor:pointer;">
			<img src="/static/image/media/video.jpg" title="视 频" class="file-preview-image" title="" alt="" style="width:100px;height:30px;">
		</div>
		<div id="leftBar_image" class="file-preview-frame" ctype="image" style="width:100px;height:30px;cursor:pointer;">
			<img src="/static/image/media/image.jpg" title="图 片" class="file-preview-image" title="" alt="" style="width:100px;height:30px;">
		</div>
		<div id="leftBar_voice" class="file-preview-frame" ctype="voice" style="width:100px;height:30px;cursor:pointer;">
			<img src="/static/image/media/voice.jpg" title="语 音" class="file-preview-image" title="" alt="" style="width:100px;height:30px;">
		</div>
		<!--添加-->
		<div id="addNews" class="file-preview-frame" style="width:100px;height:100px;cursor:pointer;">
			<img src="/static/image/media/add_96.png" title="添加一个" alt="添加一个" class="file-preview-image" title="" alt="" style="width:100px;height:100px;">
		</div>
		
		<div id="_newsThumb">
			<!--图片缩略-->
			<!--<div class="file-preview-frame" style="width:100px;height:100px;">
				<img src="" class="file-preview-image" style="width:100px;height:100px;">
				<div class="file-thumbnail-footer">
					<div>标题</div>
				</div>
				<div class="file-actions">
					<div class="file-footer-buttons">
						<button type="button" class="kv-file-edit btn btn-xs btn-default" title="编辑文件"><i class="glyphicon glyphicon-edit text-info">编辑</i></button>
						<button type="button" class="kv-file-remove btn btn-xs btn-default" title="删除文件"><i class="glyphicon glyphicon-trash text-danger">删除</i></button>
					</div>
				</div>
			</div>-->
		</div>
	</div>
</div>