<script type="text/javascript">
	{{$data:=.Data.Data}}
	var newsAction="{{$data.action}}";
	var newsSaveType="{{$data.saveType}}";
	
</script>
		
<script type="text/javascript" charset="utf-8" src="/static/js/comm/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/comm/ueditor/ueditor.all.js"> </script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" charset="utf-8" src="/static/js/comm/ueditor/lang/zh-cn/zh-cn.js"></script>

<script type="text/javascript" src="/static/js/media/media.news.add.other.js"></script>
<script type="text/javascript" src="/static/js/media/media.news.add.js"></script>
<!--图文-->
<div class="col-md-10 column">
	<input id="activityForm" type="hidden" value=""/><!--存放当前活动的表单id-->
	<form id="newsMediaForm" action="{{$data.action}}" method="post" role="form">
		<div class="form-group">
      		<div id="" class="col-sm-12">
				<script id="editor" type="text/plain" style="width:1024px;height:500px;"></script>
      		</div>
      		<div id="_newsForms" class="col-sm-12">
			
      		</div>
   		</div>
		<!--<div id="newsForm_" class="form-horizontal">
			<div class="form-group">
		      	<div class="col-sm-4">
		         	<input type="text" class="form-control" id="newsTitle" name="title" maxlength="64" placeholder="标题">
		      	</div>
		      	<div class="col-sm-4">
		         	<input type="text" class="form-control" id="newsAuthor" name="author" maxlength="20" placeholder="作者">
		      	</div>
		      	<div>
					<input id="show_cover_pic" name="show_cover_pic" type="checkbox"/>
		         	<lable>是否显示封面</lable>
		      	</div>
		   	</div>
			<div class="form-group">
		      	<div class="col-sm-12">
		         	<input type="text" class="form-control" id="contentSourceUrl" name="content_source_url" placeholder="原文链接">
		      	</div>
		   	</div>
			<div class="form-group">
		      	<div class="col-sm-12">
					<textarea id="content"></textarea>
		      	</div>
		   	</div>
			<div class="form-group">
		      	<div class="col-sm-12">
		         	<input type="file" id="newsFile" name="file" value="" accept="image/*" class="file-loading"/>
					<input type="hidden" name="ctype" value="news"/>
					<input type="hidden" id="saveType" name="saveType" value="{{$data.saveType}}"/>
		      	</div>
		   	</div>
			<div class="form-group">
	      		<div class="col-sm-12">
	         		<button type="submit" class="btn btn-default">保存</button>
	      		</div>
	   		</div>
		</div>-->
		<div class="form-group">
      		<div class="col-sm-12">
         		<button type="submit" class="btn btn-default">保存</button>
      		</div>
   		</div>
	</form>
	
</div>
<div class="col-md-2 column">
	<!--右侧拦 点后按钮-->
	<div id="leftBar" class="btn-group btn-group-vertical">
		<a href="javascript:void(0)" ctype="video" role="button" class="btn btn-default" >视频</a>
		<a href="javascript:void(0)" ctype="image" role="button" class="btn btn-default" >图片</a>
		<a href="javascript:void(0)" ctype="voice" role="button" class="btn btn-default" >语音</a>
	</div>
	<!--右侧拦 点后按钮后弹出层-->
	<div class="modal fade" id="modal-container-mediaselect" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content" style="min-width: 700px">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title" id="mediaSelectTitle">线上永久素材选择</h4>
				</div>
				<div id="mediaSelect" class="modal-footer">
					
				</div>
			</div>
		</div>
	</div>
	
	<!--右侧拦 图片缩略-->
	<div class="btn-group btn-group-vertical">
		<!--添加-->
		<div id="addNews" class="file-preview-frame" style="width:100px;height:100px;cursor:pointer;">
			<img src="/static/image/media/add_96.png" title="添加一个" alt="添加一个" class="file-preview-image" title="" alt="" style="width:100px;height:100px;">
		</div>
		<div id="_newsThumb">
			<!--图片缩略-->
			<!--<div class="file-preview-frame" style="width:100px;height:100px;">
				<img src="" class="file-preview-image" style="width:100px;height:100px;">
				<div class="file-thumbnail-footer">
					<div>标题</div>
				</div>
				<div class="file-actions">
					<div class="file-footer-buttons">
						<button type="button" class="kv-file-edit btn btn-xs btn-default" title="编辑文件"><i class="glyphicon glyphicon-edit text-info">编辑</i></button>
						<button type="button" class="kv-file-remove btn btn-xs btn-default" title="删除文件"><i class="glyphicon glyphicon-trash text-danger">删除</i></button>
					</div>
				</div>
			</div>-->
		</div>
	</div>
</div>