<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>微信配置平台_{{.CC.Title}}</title>
		{{template "temp.header.html" .}}
		<script type="text/javascript" src="/static/js/media/media.upload.js"></script>
	</head>
	<body>
			{{template "temp.top.html" .}}
			<div class="row clearfix">
			{{template "temp.left.menu.html" .}}
				<div class="col-md-9 column">
				<div class="tabbable" id="tabs">
					<ul class="nav nav-tabs">
						<div id="tipsMsg"></div>
						<li class="dropdown">
							<a id="news" data-toggle="dropdown" class="dropdown-toggle" index="2">
								图文
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="news">
						         <li><a href="#media-news-list" ctype="news" copt="list" action="" tabindex="-1" data-toggle="tab" c="true">列表</a></li>
						         <li><a id="defaultClick" href="#media-news-add" ctype="news" copt="add" action="/media/news/save" tabindex="-1" data-toggle="tab" c="true">添加</a></li>
						    </ul>
						</li>
						<li class="dropdown">
							<a id="video" data-toggle="dropdown" class="dropdown-toggle" index="2">
								视频
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="video">
						         <li><a href="#media-video-list" ctype="video" copt="list" action="" tabindex="-1" data-toggle="tab" c="true">列表</a></li>
						         <li><a href="#media-video-add" ctype="video" copt="add" action="/media/release/voice" tabindex="-1" data-toggle="tab" c="true">添加</a></li>
						    </ul>
						</li>
						<li class="dropdown">
							<a id="image" data-toggle="dropdown" class="dropdown-toggle" index="2">
								图片
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="image">
						         <li><a href="#media-image-list" ctype="image" copt="list" action="" tabindex="-1" data-toggle="tab" c="true">列表</a></li>
						         <li><a href="#media-image-add" ctype="image" copt="add" action="/media/release/common" tabindex="-1" data-toggle="tab" c="true">添加</a></li>
						    </ul>
						</li>
						<li class="dropdown">
							<a id="voice" data-toggle="dropdown" class="dropdown-toggle" index="2">
								语音
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="voice">
						         <li><a href="#media-voice-list" ctype="voice" copt="list" action="" tabindex="-1" data-toggle="tab" c="true">列表</a></li>
						         <li><a href="#media-voice-add" ctype="voice" copt="add" action="/media/release/common" tabindex="-1" data-toggle="tab" c="true">添加</a></li>
						    </ul>
						</li>
						<li class="dropdown">
							<a id="thumb" data-toggle="dropdown" class="dropdown-toggle" index="2">
								缩略图
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="thumb">
						         <li><a href="#media-thumb-list" ctype="thumb" copt="list" action="" tabindex="-1" data-toggle="tab" c="true">列表</a></li>
						         <li><a href="#media-thumb-add" ctype="thumb" copt="add" action="/media/release/common" tabindex="-1" data-toggle="tab" c="true">添加</a></li>
						    </ul>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane fade" id="media-news-list">loading...</div>
						<div class="tab-pane fade" id="media-news-add">loading...</div>
						<div class="tab-pane fade" id="media-video-list">loading...</div>
						<div class="tab-pane fade" id="media-video-add">loading...</div>
						<div class="tab-pane fade" id="media-image-list">loading...</div>
						<div class="tab-pane fade" id="media-image-add">loading...</div>
						<div class="tab-pane fade" id="media-voice-list">loading...</div>
						<div class="tab-pane fade" id="media-voice-add">loading...</div>
						<div class="tab-pane fade" id="media-thumb-list">loading...</div>
						<div class="tab-pane fade" id="media-thumb-add">loading...</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
