<script type="text/javascript" src="/static/js/media/media.thumb.list.js"></script>
<p>
	{{range $i,$v:=.Data}}
	<div class="col-md-3">
		<div class="file-preview-frame">
			<img src="/{{$v.localName}}" class="file-preview-image" title="{{$v.ctype}}" alt="{{$v.ctype}}" style="width:auto;height:160px;">
			<div class="file-thumbnail-footer">
				<div class="file-footer-caption" title="{{$v.ctype}}">{{$v.ctype}}</div>
			</div>
			<div class="file-actions">
				<div class="file-footer-buttons">
					<button type="button" class="kv-file-edit btn btn-xs btn-default" title="编辑文件"><i class="glyphicon glyphicon-edit text-info">编辑</i></button>
					<button type="button" class="kv-file-remove btn btn-xs btn-default" title="删除文件"><i class="glyphicon glyphicon-trash text-danger">删除</i></button>
				</div>
			</div>
		</div>
	</div>
	{{else}}
	<div class="col-md-6">
	没有数据
	</div>
	{{end}}
</p>
