<script type="text/javascript" src="/static/js/media/media.thumb.upload.js"></script>
<p>{{$data:=.Data.Data}}
	<form id="thumbForm" action="{{$data.action}}" method="post" class="form-horizontal" role="form">
		<div class="form-group">
	      	<div class="col-sm-12">
	         	<input type="file" id="thumbFile" name="file" value="" accept="image/*" multiple="multiple" class="file-loading"/>
	      	</div>
	   	</div>
		<div class="form-group">
      		<div class="col-sm-12">
				<input type="hidden" id="thumbFilePath" name="localName" value=""/>
				<input type="hidden" name="ctype" value="thumb"/>
				<input type="hidden" id="saveType" name="saveType" value="{{$data.saveType}}"/>
         		<button id="thumbReleaseBtn" type="submit" class="btn btn-default">保存</button>
      		</div>
   		</div>
    </form>
</p>
